.container{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(34, 34, 34);
}

.title{
    font-size: 4rem;

    color: white;

    animation: fliptitle 1s;
}

@keyframes fliptitle {
    from{
        transform: rotateX(90deg);
    }

    to{
        transform: rotateX(0deg);
    }
}

.containerInput{
    background-color: rgb(88, 88, 88);

    padding: 15px;

    margin: 34px 0;

    display: flex;

    border-radius: 8px;
}

.containerInput input{
    background-color: transparent;

    border: 0;

    font-size: 1rem;

    color: white;

    outline: none;

    margin-right: 8px;
}

.buttonSearch{
    background-color: transparent;

    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: transform 0.5s;
}

.buttonSearch:hover{
    transform: scale(1.1);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: rgb(141, 141, 141);

    background-color: rgb(41, 41, 41);

    width: 500px;

    border-radius: 8px;
}

.main h2{
    margin: 16px 0;

    font-size: 1rem;
}

.main span{
    margin-bottom: 16px;
}

@media (max-width: 620px){
    .title{
        font-size: 2rem;
    }

    .main h2{
        font-size: 1rem;
    }

    .main{
        width: 80%;
        min-height: 250px;
    }
}